name: Publish DS Module

on:
  workflow_dispatch:
    inputs:
      module:
        description: "Module to publish"
        required: true
        type: choice
        options:
          - button
          - navigation

      tag:
        description: "NPM dist-tag"
        required: true
        type: choice
        options:
          - test
          - latest

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org

      - run: npm ci

      - name: Build module
        run: |
          cd projects/${{ inputs.module }}
          npm run build

      - name: Bump version (test / latest)
        run: |
          cd projects/${{ inputs.module }}

          if [ "${{ inputs.tag }}" = "test" ]; then
            RAND=$(date +%s)
            npm version prerelease \
              --preid=test.$RAND \
              -m "chore(${{
                inputs.module
              }}): release %s"
          else
            npm version patch \
              -m "chore(${{
                inputs.module
              }}): release %s"
          fi


      - name: Push version commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore(${{
            inputs.module
          }}): bump version"
          git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/kritin1124/test-design-system.git HEAD:main
          git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/kritin1124/test-design-system.git --tags


      - name: Publish module
        run: |
          cd projects/${{ inputs.module }}
          npm publish --tag ${{ inputs.tag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
